<main style="text-align: center; margin-top: 100px;">
  <div style="margin-bottom: 20px; display: flex; justify-content: center">
    <a routerLink="" style="margin-right: 10px;">Root</a>
    <a routerLink="home">Home</a>
  </div>

  <select id="language" #locale (change)="changeLocale(locale.value)">
    <option value="ar">{{ 'ភាសារខ្មែរ' | translate }}</option>
    <option value="en">{{ 'English' | translate }}</option>
  </select>

  <!-- <div class="dropdown">
    <select id="language">
      <option value="volvo">English</option>
      <option value="saab">Khmer</option>
    </select>
</div> -->

  <p>
    {{ 'HELLO_WORLD' | translate }}
  </p>

  <div >
     <router-outlet></router-outlet> 
  </div>
</main>